/* line 5, ../../sass/_base.scss */
* {
  clear: both;
}

/* line 7, ../../sass/_base.scss */
body {
  background: url(../images/bkgrd.gif) repeat-y center;
  font-size: 12px;
  width: 100%;
}

/* line 4, ../../sass/_header.scss */
.nav {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 35px;
  font-family: "Lato", sans-serif;
  color: #363636;
  background: black;
  font-size: 1em;
}
/* line 15, ../../sass/_header.scss */
.nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 20, ../../sass/_header.scss */
.nav ul {
  display: inline-block;
  padding: 0px;
  margin-left: 20px;
  margin-top: 0;
}
/* line 26, ../../sass/_header.scss */
.nav li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  width: auto;
  height: 25px;
  margin-right: 25px;
  padding-top: 8px;
}
/* line 36, ../../sass/_header.scss */
.nav .account {
  display: block;
  position: relative;
  width: 100px;
  height: 25px;
  background: black;
  left: 69%;
  text-align: center;
}
/* line 46, ../../sass/_header.scss */
.nav .branding {
  float: left;
  margin-top: 2px;
  font-size: 1.8em;
  font-family: "Cutive", serif;
  display: inline-block;
  float: left;
  text-indent: 10px;
  color: #2a7357;
}

/* line 3, ../../sass/index.scss */
.content {
  display: block;
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 300px;
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
}
/* line 12, ../../sass/index.scss */
.content .blurb {
  margin-bottom: 5px;
  font-size: 1.2em;
  color: #363636;
}
/* line 16, ../../sass/index.scss */
.content .blurb span {
  color: #2a7357;
  text-transform: uppercase;
  size: 1.2em;
}
/* line 23, ../../sass/index.scss */
.content .actions {
  padding-left: 20px;
}
/* line 25, ../../sass/index.scss */
.content .actions .button {
  display: block;
  height: 23px;
  width: 65%;
  margin-bottom: 5px;
  background: #2a7357;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding-top: 7px;
}
/* line 34, ../../sass/index.scss */
.content .actions .button a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

/* line 43, ../../sass/index.scss */
h1 {
  font-family: "Cutive", serif;
  text-transform: lowercase;
}

/* line 48, ../../sass/index.scss */
.wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 30px;
}
